.results-section {
  background-color: var(--color-main-background);
}

.leaderboard-icon-border {
  width: 4rem;
  height: 4rem;
}

.search-container {
  background-color: var(--color-card-background);
  border: 1px solid var(--color-border);
  border-radius: 0.75rem;
  max-width: 40rem;
  margin: 0 auto;
}

.form-label {
  color: var(--color-primary-text);
  font-weight: 500;
  margin-bottom: 0.5rem;
}